*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

:root {
  --bg-color: #9CBFAA;
  --secondary-color: #57ba98;
  --header-color: #3b945e;
  --border-color: #182628;
  --font-color: #f2f2f2;
}

body {
  margin: 0;
  font-family: 'arial', 'sans-serif';
  background-color: var(--bg-color);
}

/* header */

.navbar {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.navbar img {
  height: 60px;
  width: 60px;
  border: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navbar ul li {
  color: var(--font-color);
  text-decoration: underline;
}

.navbar ul li:hover {
  cursor: pointer;
}

/* main-content */

.content-page {
  min-height: 82vh;
  padding: 4rem 12rem;
}

.homepage {
  height: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.homepage-description {
  flex: .5 1 0;
  padding: 0 1rem;
  margin-right: 2rem;
  text-align: center;
}

.homepage-description h1{
  font-size: 4rem;
}

.homepage-image {
  flex: 1 1 0;
}

.homepage-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px
} 

.product-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(180px, 250px));
  justify-content: space-around;
  grid-gap: 2rem 0.5rem;
  padding: 1.25rem 0.75rem;
}

.product {
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.product img {
  width: 70%;
  height: 200px;
  padding: .75rem 0.25rem;
}

.product-title {
  font-weight: italic;
  text-align: center;
  min-height: 4.5rem;
  padding: 0 0.35rem
}

.product-price {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0 2rem;
  text-align: start;
}

.rating {
  width: 100%;
  padding: 0.5rem 2rem;
  text-align: start;
}

.add-to-cart {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--header-color);
  border: none;
}

.add-to-cart:hover {
  cursor: pointer;
}

.price-cart-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



/* footer */

.footer {
  bottom: 0;
  width: 100%;
  padding: 1rem 0; 
  text-align: center;
}

.footer-contents {
  margin-right: 0.8rem;
}

.footer-contents span a{
  color: var(--font-color);
  text-decoration: none;
}

.footer-contents span:nth-child(2) {
  padding: 0 1rem;
  color: var(--font-color);
}